In [1]:
pip install tabula-py

Requirement already satisfied: tabula-py in c:\users\utsav\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: distro in c:\users\utsav\anaconda3\lib\site-packages (from tabula-py) (1.6.0)
Requirement already satisfied: numpy in c:\users\utsav\anaconda3\lib\site-packages (from tabula-py) (1.20.1)
Requirement already satisfied: pandas>=0.25.3 in c:\users\utsav\anaconda3\lib\site-packages (from tabula-py) (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\utsav\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\utsav\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\utsav\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import tabula as tb
import pandas as pd

In [3]:
pdf_path = "D:\\IOB Bank Statement (Project).pdf"

In [4]:
df = tb.read_pdf(pdf_path,stream=True,pages='all')[0]

In [5]:
df

,Unnamed: 0,Unnamed: 1,Account Activity,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Date,Payment,Detail Credit,Debit,NaN,Balance
1,NaN,Type,NaN,NaN,NaN,NaN
2,NaN,NaN,OPENING BALANCE,NaN,NaN,"8,313.30Cr"
3,05/01/2022,Fast Payment,Amazon Sh.,132.30,NaN,"8,181.00Cr"
4,05/01/2022,Paytm UPI,e-BAY Trading Co.,515.22,NaN,"7,665.78Cr"
5,03/01/2022,Paytm UPI,HP Petrol Pump,80.00,NaN,"7,585.78Cr"
6,01/01/2022,Deposit,"IOB Loan 20,000.00",NaN,NaN,"27,585.78Cr"
7,01/01/2022,G-Pay UPI,Jaydeep Medical Store,"2,416.85",NaN,"25,168.93Cr"
8,28/12/2021,Withdraw,ATM,100.00,NaN,"25,068.93Cr"
9,28/12/2021,Paytm UPI,Sangita Mobile Shop,150.00,NaN,"24,918.93Cr"
10,28/12/2021,Fast Payment,Marriott Hotels,177.00,NaN,"24,741.93Cr"
11,22/12/2021,Fast Payment,Concept Pvt. Ltd.,122.22,NaN,"24,619.71Cr"
12,21/12/2021,Fast Payment,Cheque 000234,"1,200.00",NaN,"23,419.71Cr"
13,10/12/2021,Int. Bank,Interest Paid 9.33,NaN,NaN,"23,429.04Cr"
14,01/12/2021,Bank Transfer,JSW Energy Ltd.,270.00,NaN,"23,159.04Cr"
15,27/11/2021,G-Pay UPI,Flipkart Sh.,"10,525.40",NaN,"12,633.64Cr"
16,25/11/2021,Paytm UPI,Burger king,"1,000.00",NaN,"11,633.64Cr"
17,20/11/2021,Phone pay,UBER,280.00,NaN,"11,353.64Cr"
18,12/11/2021,Net banking,Joy Patel Salary,"1,554.00",NaN,"9,799.64Cr"
19,05/11/2021,Bank Transfer,IOB Mastercard,"4,000.00",NaN,"5,799.64Cr"
20,NaN,CUMULATIVE TOTAL,"20,009.33","22,522.99",NaN,NaN
21,NaN,NaN,CLOSING BALANCE,NaN,NaN,5799.64Cr
22,Note: THIS IS A SYSTEM GENERATED STATEMENT. IT...,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,â€œIOB CARES for you. Please stay safe and stay ...,NaN,NaN,NaN,NaN

In [6]:
tb.convert_into(pdf_path,"bank_stat.csv",output_format="csv",pages='all')

In [7]:
test2 = pd.read_csv("bank_stat.csv",header=1)
test2

,Date,Payment,Detail Credit,Debit,Unnamed: 4,Balance
0,NaN,Type,NaN,NaN,NaN,NaN
1,NaN,NaN,OPENING BALANCE,NaN,NaN,"8,313.30Cr"
2,05/01/2022,Fast Payment,Amazon Sh.,132.30,NaN,"8,181.00Cr"
3,05/01/2022,Paytm UPI,e-BAY Trading Co.,515.22,NaN,"7,665.78Cr"
4,03/01/2022,Paytm UPI,HP Petrol Pump,80.00,NaN,"7,585.78Cr"
5,01/01/2022,Deposit,"IOB Loan 20,000.00",NaN,NaN,"27,585.78Cr"
6,01/01/2022,G-Pay UPI,Jaydeep Medical Store,"2,416.85",NaN,"25,168.93Cr"
7,28/12/2021,Withdraw,ATM,100.00,NaN,"25,068.93Cr"
8,28/12/2021,Paytm UPI,Sangita Mobile Shop,150.00,NaN,"24,918.93Cr"
9,28/12/2021,Fast Payment,Marriott Hotels,177.00,NaN,"24,741.93Cr"
10,22/12/2021,Fast Payment,Concept Pvt. Ltd.,122.22,NaN,"24,619.71Cr"
11,21/12/2021,Fast Payment,Cheque 000234,"1,200.00",NaN,"23,419.71Cr"
12,10/12/2021,Int. Bank,Interest Paid 9.33,NaN,NaN,"23,429.04Cr"
13,01/12/2021,Bank Transfer,JSW Energy Ltd.,270.00,NaN,"23,159.04Cr"
14,27/11/2021,G-Pay UPI,Flipkart Sh.,"10,525.40",NaN,"12,633.64Cr"
15,25/11/2021,Paytm UPI,Burger king,"1,000.00",NaN,"11,633.64Cr"
16,20/11/2021,Phone pay,UBER,280.00,NaN,"11,353.64Cr"
17,12/11/2021,Net banking,Joy Patel Salary,"1,554.00",NaN,"9,799.64Cr"
18,05/11/2021,Bank Transfer,IOB Mastercard,"4,000.00",NaN,"5,799.64Cr"
19,NaN,CUMULATIVE TOTAL,"20,009.33","22,522.99",NaN,NaN
20,NaN,NaN,CLOSING BALANCE,NaN,NaN,5799.64Cr
21,Note: THIS IS A SYSTEM GENERATED STATEMENT. IT...,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,ï¿½IOB CARES for you. Please stay safe and stay ...,NaN,NaN,NaN,NaN

In [8]:
import json
test2.to_json("bank_stat.json")

f = open('bank_stat.json')

data_json = json.load(f)
data_json

{'Date': {'0': None,
  '1': None,
  '2': '05/01/2022',
  '3': '05/01/2022',
  '4': '03/01/2022',
  '5': '01/01/2022',
  '6': '01/01/2022',
  '7': '28/12/2021',
  '8': '28/12/2021',
  '9': '28/12/2021',
  '10': '22/12/2021',
  '11': '21/12/2021',
  '12': '10/12/2021',
  '13': '01/12/2021',
  '14': '27/11/2021',
  '15': '25/11/2021',
  '16': '20/11/2021',
  '17': '12/11/2021',
  '18': '05/11/2021',
  '19': None,
  '20': None,
  '21': 'Note: THIS IS A SYSTEM GENERATED STATEMENT. IT DOES NOT REQUIRE SIGNATURE.',
  '22': None,
  '23': None},
 'Payment': {'0': 'Type',
  '1': None,
  '2': 'Fast Payment',
  '3': 'Paytm UPI',
  '4': 'Paytm UPI',
  '5': 'Deposit',
  '6': 'G-Pay UPI',
  '7': 'Withdraw',
  '8': 'Paytm UPI',
  '9': 'Fast Payment',
  '10': 'Fast Payment',
  '11': 'Fast Payment',
  '12': 'Int. Bank',
  '13': 'Bank Transfer',
  '14': 'G-Pay UPI',
  '15': 'Paytm UPI',
  '16': 'Phone pay',
  '17': 'Net banking',
  '18': 'Bank Transfer',
  '19': 'CUMULATIVE TOTAL',
  '20': None,
  '21': None,
  '22': None,
  '23': 'ï¿½IOB CARES for you. Please stay safe and stay healthy in covid Times.ï¿½'},
 'Detail Credit': {'0': None,
  '1': 'OPENING BALANCE',
  '2': 'Amazon Sh.',
  '3': 'e-BAY Trading Co.',
  '4': 'HP Petrol Pump',
  '5': 'IOB Loan 20,000.00',
  '6': 'Jaydeep Medical Store',
  '7': 'ATM',
  '8': 'Sangita Mobile Shop',
  '9': 'Marriott Hotels',
  '10': 'Concept Pvt. Ltd.',
  '11': 'Cheque 000234',
  '12': 'Interest Paid   9.33',
  '13': 'JSW Energy Ltd.',
  '14': 'Flipkart Sh.',
  '15': 'Burger king',
  '16': 'UBER',
  '17': 'Joy Patel Salary',
  '18': 'IOB Mastercard',
  '19': '20,009.33',
  '20': 'CLOSING BALANCE',
  '21': None,
  '22': None,
  '23': None},
 'Debit': {'0': None,
  '1': None,
  '2': '132.30',
  '3': '515.22',
  '4': '80.00',
  '5': None,
  '6': '2,416.85',
  '7': '100.00',
  '8': '150.00',
  '9': '177.00',
  '10': '122.22',
  '11': '1,200.00',
  '12': None,
  '13': '270.00',
  '14': '10,525.40',
  '15': '1,000.00',
  '16': '280.00',
  '17': '1,554.00',
  '18': '4,000.00',
  '19': '22,522.99',
  '20': None,
  '21': None,
  '22': None,
  '23': None},
 'Unnamed: 4': {'0': None,
  '1': None,
  '2': None,
  '3': None,
  '4': None,
  '5': None,
  '6': None,
  '7': None,
  '8': None,
  '9': None,
  '10': None,
  '11': None,
  '12': None,
  '13': None,
  '14': None,
  '15': None,
  '16': None,
  '17': None,
  '18': None,
  '19': None,
  '20': None,
  '21': None,
  '22': None,
  '23': None},
 'Balance': {'0': None,
  '1': '8,313.30Cr',
  '2': '8,181.00Cr',
  '3': '7,665.78Cr',
  '4': '7,585.78Cr',
  '5': '27,585.78Cr',
  '6': '25,168.93Cr',
  '7': '25,068.93Cr',
  '8': '24,918.93Cr',
  '9': '24,741.93Cr',
  '10': '24,619.71Cr',
  '11': '23,419.71Cr',
  '12': '23,429.04Cr',
  '13': '23,159.04Cr',
  '14': '12,633.64Cr',
  '15': '11,633.64Cr',
  '16': '11,353.64Cr',
  '17': '9,799.64Cr',
  '18': '5,799.64Cr',
  '19': None,
  '20': '5799.64Cr',
  '21': None,
  '22': None,
  '23': None}}